html,
body{
  height: 100%;
}

body{
  font-size: 16px;
  line-height: 30px;
  color: $default;
  display: flex;
  flex-direction: column;
  @extend %Rubik-400;
}
a{
  cursor: pointer;
}
.main{
flex-grow: 1;
}
.container-main{
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}
.container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.title{
  color: $title;
  @extend %DMSans-700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}
.title--other{
  color: $subtitle;
}

.pagination{
  &__list{
    display: flex;
    justify-content: center;
  }
  &__item{
    padding: 5px 15px;
    border: 1px solid #a3bbc8;
    color: $subtitle;
  }
  &__item + .pagination__item{
    margin-left: 15px;
  }
  &__btn{
    background-color: transparent;
    color: inherit;
  }
  &__link{
    color: inherit;
  }
  &__item--active{
    color: #fff;
    background-color: #a3bbc8;
  }
}
