$default: #7b7b7b;
$title: #191919;
$subtitle: #243f4d;
$footer-c:#1f2044;
$accent: #436372;
$bg:#fef7f0;


%DMSans-400{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%DMSans-500{
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%DMSans-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}
%Poppins-600{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

%Poppins-700{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

%Rubik-300{
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}
%Rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%Rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}
%Rubik-700{
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}
%btn{
  @extend %Rubik-500;
  display: flex;
  max-width: 180px;
  width: 100%;
  padding: 22px 18px 25px 20px;
  font-size: 15px;
  line-height: 18px;
  background-color: transparent;
  border: 1px solid #b3b7b5;
  color: $accent;
}

%checkbox-hidden{
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute
}

@function max($numbers...){
  @return m#{a}x(#{$numbers});
}
@function min($numbers...){
  @return m#{i}n(#{$numbers});
}