.header{
  
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @extend %Rubik-500;
    padding: 50px 0 38px;
  }
  a{
    color: $accent;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item{
    font-size: 15px;
    line-height: 12px;
  }
  &__list-item + .menu__list-item{
    margin-left: 30px;
  }
  &__btn{
    width: 50px;
    height: 50px;
    background-color: #a3bbc8;
    border-radius: 50%;
    display: none; 
  }
  &__btn-box{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 30px;
    height: 20px;
    position: relative;
  }
  &__btn-decor{
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 1px;
    
    &::after,
    &::before{
      content: '';
      position: absolute;
      width: 30px;
      height: 3px;
      background-color: #fff;
      left: 0;
      right: 0;
      border-radius: 1px;
    }
  }
  &__btn-decor::after{
    top: 0;
  }
  &__btn-decor::before{
    bottom: 0;
  }
}
.nav-users{
  display: flex;
  
  &__search{
    background-color: #edf1f4;
    border-radius: 50%;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    position: relative;
  }
  &__search-img{
    position: absolute;
    top: 33%;
    left: 35%;
  }
  &__favorites{
    background-color: #fcd7b6;
    border-radius: 45% 0 0 45%;
    position: relative;
    height: 52px;
    width: 92px;
  }
  &__favorites::after{
    content: url(../images/icons/users-decor.svg);
    position: absolute;
    top: 30%;
    right: 0;
  }
  &__favorites-img{
    position: absolute;
    top: 41%;
    right: 25%;
  }
  &__cart{
    background-color: #fcd7b6;
    border-radius: 0 45% 45% 0;
    margin-right: 20px;
    height: 52px;
    width: 92px;
    position: relative;  
  }
  &__cart-img{
    position: absolute;
    top: 41%;
    left: 25%;
  }
  &__others{
    background-color: #a3bbc8;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;  
  }
  &__others-img {
    position: absolute;
    top: 30%;
    left: 30%;
    }
  &__num-favorites,&__num-cart{
  @extend %DMSans-400;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  font-size: 10px;
  line-height: 16px;
  color: #243f4d;
  text-align: center;
  
  }
  &__num-favorites{
    top: 26%;
    right: 14%;
  }
  &__num-cart{
    top: 26%;
    left: 39%;
  }
}


@media(max-width:1050px){
  .menu{
    order: 1;
    &__list{
      background-color: #edf1f4;
      padding-top: 20px;
      position: absolute;
      margin-top: 10px; 
      left: 0;
      flex-direction: column;
      text-align: center;
      width: 100%;
      z-index: 5;
      transform: translateY(-200%);
      transition: all .3s;
    }
    &__list--active{
      transform: translateY(0);
      transition: all .3s;
    }
    &__btn{
      display: block;
      margin-left: 20px;
    }
    &__list-item + .menu__list-item{
      margin-left: 0px;
    }
    &__list-item{
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 20px;
    }
  }
  .nav-users{
    margin-left: auto;
  }
}

@media(max-width:650px){
  .menu{
    order: 0;
    &__btn{
      margin-right: 0;
    }
  }
  .nav-users{
    margin-top: 30px;
    width: 100%;
    justify-content: flex-end;
  }
}

@media(max-width:450px){
  .nav-users__cart,
  .nav-users__favorites{
    width: 70px;
  }
  .nav-users__search,
  .nav-users__cart{
      margin-right: 10px;
    }
}