.product-details {
  padding-top: 115px;
  &__slider {
    display: flex;
    align-items: center;
  }

  &__top {
    display: flex;
    margin-bottom: 90px;
  }
  &__slider {
    height: 530px;
    margin-right: 60px;
  }

  .slider__box-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    font-size: 40px;
    line-height: 50px;
    color: #333;
    margin-bottom: 20px;
  }

  .slick-slide.slick-active {
    height: 160px;
    margin-bottom: 24px;
  }
  &__rating {
    margin-bottom: 30px;
  }
  &__price {
    font-size: 30px;
    line-height: 45px;
    color: #333;
    margin-bottom: 30px;
  }
  &__text {
    color: $subtitle;
    margin-bottom: 30px;
  }
  &__btn {
    background-color: #a3bbc8;
    padding: 12px 50px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 15px;
  }
  &__form {
    margin-bottom: 48px;
  }
  &__info {
    color: $subtitle;
  }
  &__input {
    padding: 0 48px;
  }
  .jq-number__spin.minus,
  .jq-number__spin.plus {
    width: 48px;
    height: 52px;
    background-color: transparent;
    border: 2px solid #a3bbc8;
  }
  .jq-number__spin.minus {
    left: 0;
    top: 0;
  }
  .jq-number__spin.minus::after,
  .jq-number__spin.plus::after {
    border: none;
  }
  .jq-number__spin.minus::after {
    content: "";
    top: 50%;
    left: 40%;
    width: 10px;
    height: 1px;
    background-color: #333;
  }
  .jq-number__spin.plus::after {
    content: "+";
    color: #333;
    left: 40%;
    top: 9px;
  }
  .jq-number__spin {
    background: initial;
    border-radius: 0;
    text-shadow: none;
    box-shadow: none;
  }
  .jq-number__spin:active {
    box-shadow: none;
  }
  .jq-number__field input {
    text-align: center;
    color: #333;
    @extend %Rubik-400;
  }
  .jq-number__field {
    width: 48px;
    height: 52px;
    border: 2px solid #a3bbc8;
    border-left: none;
    border-right: none;
    line-height: 3;
    border-radius: 0;
    box-shadow: none;
  }
  .jq-number.focused .jq-number__field {
    border: none;
    border: 2px solid #a3bbc8;
    border-left: none;
    border-right: none;
  }
  &__tabs {
    margin-bottom: 120px;
  }
  &__tabs-top {
    text-align: center;
    margin-bottom: 35px;
  }
  &__item {
    display: inline-block;
    max-width: 240px;
    width: 100%;
    padding: 15px 5px;
    background-color: #edf1f4;
    border-radius: 5px;
    @extend %Rubik-500;
    color: $subtitle;
    font-size: 18px;
    & + .product-details__item {
      margin-left: 13px;
    }
  }
  &__item--active {
    background-color: #a3bbc8;
    color: #fff;
  }
  &__content-item {
    color: $subtitle;
    display: none;
  }
  &__content-item.product-details__content-item--active {
    display: block;
  }
}

.slider-thumb {
  margin-right: 23px;
  width: 140px;
  height: 530px;
  &__box {
    height: 160px;
    width: 140px;
    border: 2px solid #f2f2f2;
  }
  &__img {
    max-height: 150px;
    max-width: 140px;
    object-fit: cover;
  }
}
.slider-big {
  width: 385px;
  &__box {
    width: 385px;
    height: 530px;
    border: 2px solid #f2f2f2;
  }
  &__img {
    width: 200px;
    height: 400px;
    object-fit: contain;
    padding-top: 60px;
  }
}

.related {
  &__title {
    text-align-last: left;
    margin-bottom: 40px;
  }
  &__item {
    width: 270px;
    height: 380px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: flex !important;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 5px;
    position: relative;
    overflow: hidden;
  }
  &__item-img {
    max-width: 240px;
    max-height: 200px;
    margin-bottom: 70px;
  }
  &__item-title {
    @extend %DMSans-500;
    color: $subtitle;
    font-size: 16px;
    line-height: 24px;
  }
  &__item-price {
    margin-bottom: 35px;
    @extend %DMSans-700;
    color: #a3bbc8;
  }
  &__products-tools {
    position: absolute;
    display: flex;
    bottom: 152px;
    left: 16%;
    transform: translateY(500%);
    transition: all 0.3s;
  }
  &__item:hover {
    .related__products-tools {
      transform: translateY(0);
    }
  }

  .products__tools {
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    text-align: center;
    line-height: 55px;
    transition: all 0.3s;
  }
  .products__tools + .products__tools {
    margin-left: 20px;
  }
  .products__tools:hover {
    background-color: rgb(163, 187, 200);

    .products__tools-link {
      path {
        fill: #fff;
      }
    }
  }

  .slick-slide {
    width: 270px;
    margin-right: 30px;
  }
  .slick-track {
    padding: 30px 0;
  }
  .slick-next,
  .slick-prev {
    background-color: transparent;
    padding: 21px 14px;
    border: 2px solid #edf1f4;
    border-radius: 5px;
    position: absolute;
    top: -80px;
    right: 0;
  }
  .slick-prev {
    right: 70px;
  }
  .slick-arrow {
    transition: all 0.3s;
  }
  .slick-arrow:hover {
    border-color: #a3bbc8;
  }
}
