.login{
  &__form{
    max-width: 470px;
    margin: 0 auto ;
    padding: 115px 0;
    font-size: 14px;
    line-height: 24px;
  }
  &__label{
    color: $accent;
    display: block;
    margin-bottom: 25px;
  }
  &__input{
    border: 1px solid #f6f6f6;
    height: 55px;
    display: block;
    width: 100%;
    margin-top: 13px;
    padding: 0 15px;
  }
  &__btn{
    width: 100%;
    background-color: #a3bbc8;
    color: #fff;
    @extend %Rubik-500;
    font-size: 18px;
    line-height: 28px;
    padding: 20px 0;
    margin-top: 11px;
  }
  &__box{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px solid #f6f6f6;  
    margin-bottom: 30px;
    color: $accent;
  }
  &__error{
    color: inherit;
  }
  &__registered{
   display: block;
   text-align: center;
   color: $accent;
   margin-bottom: 24px;
  }
  &__create{
    width: 100%;
    background: transparent;
    border: 2px solid #a3bbc8;
    padding: 20px 0;
    color: $subtitle;
    @extend %Rubik-500;
    font-size: 18px;
    line-height: 28px;
  }
}