.partners-block{
  &__inner{
  background-color: $bg;
  width: 100%;
  padding: 75px 0 85px;
  }
  &__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  } 
}

@media (max-width: 840px) {
  .partners-block {
    &__list {
      flex-direction: column;
      align-items: center;
    }
    &__inner{
      padding: 40px 0;
    }
    .partner-block__item+.partner-block__item{
      margin-top: 20px;
    }
  } 
}