.team {
  margin-bottom: 62px;
  padding-top: 120px;
  &__inner {
    display: flex;
    color: $subtitle;
    column-gap: 95px;
  }
  &__content {
    max-width: 310px;
  }
  &__title {
    text-align: left;
    color: $subtitle;
    margin-bottom: 30px;
  }
  &__text {
    margin-bottom: 40px;
  }
  &__btn-text {
    @extend %Poppins-600;
  }
  &__btn {
    @extend %btn;
    border: none;
    background-color: rgb(163, 187, 200);
    color: #fff;
    border-radius: 5px;
    width: 170px;
    justify-content: space-between;
    align-items: center;
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
    row-gap: 100px;
    column-gap: 20px;
  }
  &__box-item {
    max-width: 370px;
    width: 100%;
    position: relative;
  }
  &__box-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 20px 25px 23px;
    max-width: 326px;
    width: 100%;
    height: 100px;
    position: absolute;
    background-color: #fff;
    bottom: -62px;
  }
  &__box-title {
    font-size: 22px;
    line-height: 26px;
    color: $accent;
    margin-bottom: 12px;
  }
  &__box-text {
    @extend %Rubik-400;
    color: #565872;
  }
  &__box-links {
    display: flex;
  }
  &__box-link {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: rgb(246, 246, 246);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__box-link + .team__box-link {
    margin-left: 7px;
  }
}

@media (max-width: 1200px) {
  .team {
    padding-top: 50px;
    &__inner {
      display: block;
    }
    &__content {
      max-width: 100%;
      margin-bottom: 40px;
    }
    &__box {
      column-gap: 30px;
      justify-content: center;
    }
    &__title {
      margin-bottom: 10px;
    }
    &__text {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 380px) {
  .team {
    &__box-content{
      padding: 10px;
      height: 115px;
      display: block;
    }
    &__box-title{
      margin-bottom: 2px;
    }
    &__box-text{
      margin-bottom: 5px;
    }
  }
}
