.slider-top {
  margin-bottom: 65px;
  &__inner {
    background-color: #fcd7b6;
  }

  &__box-decor {
    background-repeat: no-repeat;
    background-position: 90% 60%;
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    height: 850px;
    position: relative;
  }
  &__title {
    max-width: 470px;
    font-size: 72px;
    line-height: 70px;
    color: $subtitle;
    @extend %Rubik-500;
    margin-bottom: 20px;
  }
  &__text {
    max-width: 370px;
    color: $accent;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  &__link {
    padding: 22px 16px 20px 20px;
    @extend %btn;
    max-width: 200px;
    background-color: #a3bbc8;
    border: none;
    color: #fff;
    @extend %Rubik-400;
  }
  &__img {
    padding-top: 80px;
  }
  &__btn-decor {
    margin-left: 60px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 45px;
    display: flex;
    right: 50%;
    transform: translateX(50%);

    li {
      margin: 0 5px;
      button {
        height: 30px;
        width: 30px;
        background-color: rgba($color: #fff, $alpha: 0.3);
        border-radius: 50%;
        color: #243f4d;
        font-size: 15px;
        line-height: 12px;
      }
    }
    .slick-active {
      background-color: #fff;
      border-radius: 50%;
    }
  }
}

.info {
  background-color: $bg;

  &__items {
    display: flex;
    justify-content: space-around;
  }
  &__item {
    display: flex;
    padding: 45px 70px;
  }
  &__item + &__item {
    border-left: 1px solid #e8e4df;
  }
  &__img {
    margin-right: 25px;
    position: relative;
  }
  &__img::after {
    content: "";
    border-radius: 50%;
    background-color: rgb(163, 187, 200);
    opacity: 0.341;
    position: absolute;
    width: 21px;
    height: 20px;
    top: 18px;
    right: -9px;
  }
  &__box {
    max-width: 220px;
  }

  &__title {
    @extend %DMSans-700;
    color: #414141;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 4px;
  }
  &__text {
    @extend %DMSans-400;
    font-size: 16px;
    line-height: 28px;
  }
}

@media (max-width: 1400px) {
  .slider-top {
    &__img {
      width: 80%;
    }
    &__item {
      justify-content: stretch;
    }
  }
  .info {
    &__item {
      padding: 45px 50px;
    }
  }
}

@media (max-width: 1200px) {
  .slider-top {
    &__box-decor {
      background-size: 50%;
    }
  }
}

@media (max-width: 1050px) {
  .slider-top {
    &__title {
      font-size: 55px;
      line-height: 60px;
      margin-bottom: 10px;
    }
    &__item {
      height: 600px;
    }
    &__text {
      max-width: 300px;
      font-size: 15px;
      line-height: 28px;
      margin-bottom: 10px;
    }
    .slick-dots {
      bottom: 10px;
    }
  }
  .info {
    &__item {
      padding: 45px 20px;
    }
  }
}
@media (max-width: 840px) {
  .slider-top {
    &__box {
      .slider-top__img {
        display: none;
      }
    }
    &__box-decor {
      background-size: 0;
    }
  }
  .info {
    &__items {
      flex-direction: column;
      align-items: center;
    }
    &__item + .info__item {
      border-left: none;
    }
  }
}

@media(max-width:520px){
  .slider-top{
    &__item {
      height: 500px;
    }
    &__title {
      font-size: 49px;
      line-height: 50px;
      margin-bottom: 5px;
  }
  }
}
